
# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm)
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Test coverage
.coverage

# Build and packaging
.tox/
.eggs/
dist/
build/
*.egg-info/

# Static files (if collected into a separate directory during deployment)
# If your static files are collected into a 'staticfiles' directory, you might want to ignore it.
# staticfiles/

# Media files (user-uploaded files)
media/